pkgbase = asuka-git
	pkgdesc = Gemini Project client written in Rust with Cursive/crossterm
	pkgver = 0.9.0.r1.gf003398
	pkgrel = 1
	url = https://github.com/unmellow/asuka
	arch = x86_64
	license = MIT
	makedepends = cargo
	makedepends = git
	depends = gcc-libs
	depends = openssl
	provides = asuka=0.9.0.r1.gf003398
	conflicts = asuka
	options = !lto
	source = asuka::git+https://github.com/unmellow/asuka.git
	sha256sums = SKIP

pkgname = asuka-git
