pkgbase = asuka-git
	pkgdesc = Gemini Project client written in Rust with NCurses
	pkgver = 0.8.5.r0.gc23cf82
	pkgrel = 1
	url = https://git.sr.ht/~julienxx/asuka
	arch = x86_64
	license = MIT
	makedepends = cargo
	makedepends = git
	depends = gcc-libs
	depends = ncurses
	depends = openssl
	provides = asuka=0.8.5.r0.gc23cf82
	conflicts = asuka
	options = !lto
	source = asuka::git+https://git.sr.ht/~julienxx/asuka
	sha256sums = SKIP

pkgname = asuka-git
